@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,700);
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile {
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 260px;
  padding-right: 260px;
}

.profile .card {
  padding-bottom: 60px;
}

.profile .card .profile-pic {
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile .card .stats {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile .card .info {
  padding-bottom: 40px;
  padding-top: 40px;
}

.profile .card .info h5 {
  color: #212121;
}

.navblack {
  background: #fff;
}

.nav-wrapper-2 {
  background: #fff !important;
}

.nav-wrapper-2 .brand {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 24px;
  margin-top: 6px;
  transition: .5s;
}

.nav-wrapper-2 .brand:hover {
  transition: .5s;
  opacity: .6;
  background-color: rgba(1, 1, 1, 0) !important;
}

.nav-wrapper-2 .baskett {
  transition: .5s;
}

.nav-wrapper-2 .baskett:hover {
  background: none;
  transition: .5s;
}

.nav-wrapper-2 .badge {
  position: relative !important;
  top: -72px;
  left: 10px;
  background-color: #fb7171 !important;
  padding: 3px 8px 3px 8px;
  border-radius: 17px;
  color: #fff;
}

.nav-wrapper-2 .nohover:hover {
  background: none;
}

.nav-wrapper-2 .nohover .responsive-img {
  margin-top: 6px;
}

.nav-wrapper-2 .dark-text {
  color: #494551 !important;
}

.home {
  padding-top: 100px;
  padding-bottom: 150px;
  background: #494551;
}

.home .search {
  padding-right: 60px;
  padding-left: 60px;
}

.home nav {
  background: none !important;
}

.most {
  margin-top: -60px !important;
  padding-bottom: 60px;
}

.most .card .card-image {
  transition: 0.9s;
}

.most .card .halfway-fab {
  margin-top: -17px;
  margin-right: 20px;
  background-color: #fa4949;
}

.most .card .halfway-fab:hover {
  background-color: #fc8f8f;
}

.most .card .card-content {
  transition: 0.6s;
  background: #494551;
}

.most .card .card-content .left {
  margin-top: 2px;
}

.button-rounded {
  border-radius: 20px;
  background-color: #81C689;
  box-shadow: 0 2px 6px 0 rgba(129, 198, 137, 0.6), 0 2px 10px 0 rgba(129, 198, 137, 0.42);
}

.button-rounded:hover {
  box-shadow: 0 2px 42px 0 rgba(129, 198, 137, 0.44), 0 2px 40px 0 rgba(129, 198, 137, 0.58);
  background-color: #93d49a;
}

.categories {
  padding-top: 40px;
  padding-bottom: 150px;
}

.categories .button-rounded {
  width: 260px;
  border-radius: 40px;
  margin-bottom: 60px;
}

.categories .card {
  transition: box-shadow .25s;
  box-shadow: none;
}

.categories .card:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f2f1f7;
}

.about h3 {
  font-weight: bold;
  margin-bottom: 34px;
  color: #3f3d4e;
}

.about .divider {
  height: 12px;
  background-color: #3f3d4e;
  width: 60px;
  margin-bottom: 45px;
}

.about p {
  line-height: 32px;
  color: #9896a8;
}

.about .card {
  border-radius: 5px;
}

.about .card .card-image {
  border-radius: 5px;
}

.about .card .card-image img {
  border-radius: 5px;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact .center-align {
  padding-top: 30px;
}

.contact .center-align .button-rounded {
  width: 200px;
  border-radius: 40px;
  margin-bottom: 60px;
}

.page-footer {
  background-color: #494551 !important;
}

.page-footer .footer-info {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sign {
  padding-top: 40px;
  padding-left: 140px;
  padding-right: 140px;
}

.sign .tabs .indicator {
  background-color: #93d49a;
}

.sign .tabs .tab a {
  color: #93d49a;
}

.sign .card {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px !important;
}

.sign .card .meh {
  margin-bottom: 40px;
}

.sign .card p {
  text-align: center;
}

.sign .forms {
  padding-top: 80px;
}

.sign .forms .upload {
  background: #494551;
}

.product-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #494551;
}

.product-page nav {
  background: none;
  box-shadow: none;
}

.product {
  padding-top: 40px;
}

.product .divider {
  width: 60px !important;
  height: 10px;
  background-color: #494551;
}

.product .stuff {
  padding-top: 60px;
}

.product .stuff p {
  margin-bottom: 40px;
}

.product .stuff .input-field {
  margin-bottom: 40px;
}

.product .stuff button:focus {
  background-color: #93d49a !important;
}

.product .stuff .button-rounded {
  border-radius: 45px !important;
}

.product .stuff .button-rounded:hover {
  background-color: #a5dbab !important;
}

.search-page {
  padding-top: 40px;
}

.search-page .halfway-fab {
  margin-top: -17px;
  margin-right: 20px;
  background-color: #fa4949;
}

.search-page .halfway-fab:hover {
  background-color: #fc8f8f;
}

.search-page .card-action {
  background-color: #494551;
}

.search-page .card-action a {
  color: #fff !important;
}

.category-page {
  padding-left: 40px;
}

.category-page .cat {
  padding-top: 135px;
}

.category-page .content {
  padding-top: 40px;
}

.category-page .content .row {
  margin-bottom: 40px;
}

.category-page .content .button-rounded {
  border-radius: 45px !important;
  margin-bottom: 40px;
}

.category-page .content .button-rounded:hover {
  background-color: #97d59d !important;
}

.category-page .content .halfway-fab {
  margin-top: -17px;
  margin-right: 20px;
  background-color: #fa4949;
}

.category-page .content .halfway-fab:hover {
  background-color: #fc8f8f;
}

.category-page .content .card-action {
  background-color: #494551;
}

.category-page .content .card-action a {
  color: #fff !important;
}

.info {
  padding-top: 80px;
}

.info table {
  margin-bottom: 60px;
}

.info table .scroll {
  height: 800px;
  overflow-y: scroll;
}

.info .button-rounded {
  border-radius: 45px;
}

.checkout {
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkout .pay {
  padding: 68px 52px;
}

.checkout .pay .meh {
  margin-bottom: 60px;
}

.thanks {
  padding-top: 60px;
  padding-bottom: 20px;
}

.thanks .card {
  margin-bottom: 40px;
}

.thanks .blue {
  background-color: #2196f3 !important;
}

.print {
  padding-top: 200px;
  padding-bottom: 200px;
}

.print table {
  margin-bottom: 60px;
}

.print p {
  font-weight: bold;
}

.woow {
  text-shadow: rgba(73, 69, 81, 0.12) 1px 1px, rgba(73, 69, 81, 0.12) 2px 2px, rgba(73, 69, 81, 0.12) 3px 3px, rgba(73, 69, 81, 0.12) 4px 4px, rgba(73, 69, 81, 0.12) 5px 5px, rgba(73, 69, 81, 0.12) 6px 6px, rgba(73, 69, 81, 0.12) 7px 7px, rgba(73, 69, 81, 0.12) 8px 8px;
}

.homes {
  padding-top: 140px;
}

.collection {
  border: none;
  border-radius: 0px !important;
}

.collection .thumb {
  transition: 0.5s;
}

.collection .thumb:hover {
  color: #b71c1c;
  transition: 0.5s;
}

.collection .dat {
  font-size: 8pt;
  color: #787575;
}

.collection .items {
  color: #212121;
  border: none !important;
  transition: 0.6s;
}

.collection .items:hover {
  background: #e1e5fb;
  transition: 0.4s;
}

.collection .collection-item a {
  transition: 0.6s;
}

.collection .collection-item .topi {
  margin-top: 3px !important;
}

/* label color */
.input-field label {
  color: #494551;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #494551;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #93d49a;
  box-shadow: 0 1px 0 0 #93d49a;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #494551;
}

/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #93d49a;
  box-shadow: 0 1px 0 0 #93d49a;
}

/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #494551;
}

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid #93d49a;
  box-shadow: 0 1px 0 0 #93d49a;
}

/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

/* label focus color */
.input-field input[type=number]:focus + label {
  color: #494551;
}

/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* valid color */
.input-field input[type=number].valid {
  border-bottom: 1px solid #93d49a;
  box-shadow: 0 1px 0 0 #93d49a;
}

/* invalid color */
.input-field input[type=number].invalid {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

/* label focus color */
.input-field textarea[type=text]:focus + label {
  color: #494551;
}

/* label underline focus color */
.input-field textarea[type=text]:focus {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* valid color */
.input-field textarea[type=text].valid {
  border-bottom: 1px solid #494551;
  box-shadow: 0 1px 0 0 #494551;
}

/* invalid color */
.input-field textarea[type=text].invalid {
  border-bottom: 1px solid #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #494551;
}

.serch nav {
  border-radius: 45px !important;
}

.serch nav .nav-wrapper {
  border-radius: 45px;
}

.serch nav .nav-wrapper input {
  border-radius: 45px;
}

.serch .statistics {
  padding-top: 40px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(meh.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
